html {
  font-family: 'Press Start 2P', cursive;
  color: brown;
}

#body {
  background-color: tan;
}

#h1 {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-size: 40px;
}

#canvas {
  display: flex;
  margin: 0 auto;
  border: 1px solid black;
}

.story {
  display: flex;
  margin: 15px auto;
  width: 400px;
}

#gh-link {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: yellow;
  text-decoration: none;
}

#buttonRow {
  display: flex;
  width: 400px;
  margin: 3px auto;
}

#mute {
  display: flex;
  margin: 0 auto;
  width: 100px;
  justify-content: flex-end;
  color: yellow;
}

#mute:hover {
  cursor: pointer;
}

#start {
  display: flex;
  margin: 0 auto;
  width: 300px;
  justify-content: flex-start;
  color: yellow;
}

#start:hover {
  cursor: pointer;
}
